<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EDM</title>

    <link rel="stylesheet" href="assets/fonts/fonts.css?v=3" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="assets/css/base-style.css?v=5" />
    <link rel="stylesheet" href="assets/css/index.css?v=3" />
    <link rel="stylesheet" href="assets/css/navbar_style.css?v=3" />
    <link rel="stylesheet" href="assets/css/particle-anim.css?v=3" />
    <link rel="stylesheet" href="assets/css/benefit-style.css" />
  </head>
  <body>
    <div class="side-menu">
      <svg
        class="close-btn"
        id="close-sidenav-btn"
        xmlns="http://www.w3.org/2000/svg"
        height="48"
        width="48"
      >
        <path
          fill="#ffff"
          d="M12.45 38.7 9.3 35.55 20.85 24 9.3 12.5l3.15-3.2L24 20.8 35.55 9.3l3.15 3.2L27.2 24l11.5 11.55-3.15 3.15L24 27.2Z"
        />
      </svg>

      <div class="side-btn-section">
       <a href="index.html" class="side-btn"
          ><img src="assets/img/edm-logo.png" alt=""
        /></a>
        <a href="index.html" class="side-btn">ABOUT US</a>
        <div class="side-collapse">
          <a
            href="#forCreator"
            class="side-btn"
            data-bs-toggle="collapse"
            role="button"
            aria-expanded="false"
            aria-controls="forCreator"
            >FOR CREATOR</a
          >
          <div class="collapse" id="forCreator">
            <div class="card card-body">
              <a href="benefit.html">Solutions</a
              >
              <a href="influencer.html">Creator</a>
<a href="vtuber-community.html">VTuber</a>
            </div>
          </div>
        </div>
        <div class="side-collapse">
          <a
            href="#forBrand"
            class="side-btn"
            data-bs-toggle="collapse"
            role="button"
            aria-expanded="false"
            aria-controls="forBrand"
            >FOR BRAND</a
          >
          <div class="collapse" id="forBrand">
            <div class="card card-body">
              <a href="branding.html">Service</a>
              <a href="">Campaign</a>
            </div>
          </div>
        </div>
        <a href="news-activity.html" class="side-btn">NEWS</a>
        <a href="contact-us.html" class="side-btn">CONTACT US</a>
    <div class="lang-change-btns">
        <a href="#" class="active" id="thaiBtn"><img src="assets/img/THAILAND.png" alt="" /> TH</a>
        <a href="#" id="engBtn"><img src="assets/img/UK.png" alt="" /> ENG</a>
    </div>
      </div>
    </div>

    <div class="main">
      <nav>
        <!-- Nav Hamberger menu -->
        <div class="nav-menu">
          <img src="assets/img/menu.svg" alt="" />
        </div>

        <div class="nav-btns">
          <a href="index.html"><img src="assets/img/edm-logo.png" alt="" /></a>
          <div class="nav-btns-wrapper">
            <a href="index.html">ABOUT US</a>
            <div class="nav-dropdown" data-dropdown>
              <button class="nav-dropdown-btn" data-dropdown-button>
                FOR CREATOR
                <img src="assets/img/expand.svg" alt="" />
              </button>
              <div class="nav-dropdown-menu">
                <a href="benefit.html">Solutions</a>
                <a href="influencer.html">Creator</a>
                <a href="vtuber-community.html">VTuber</a>
              </div>
            </div>
            <div class="nav-dropdown" data-dropdown>
              <button class="nav-dropdown-btn" data-dropdown-button>
                FOR BRAND
                <img src="assets/img/expand.svg" alt="" />
              </button>
              <div class="nav-dropdown-menu">
                <a href="branding.html">Service</a>
                <a href="our-campaign.html">Campaign</a>
              </div>
            </div>
            <a href="news-activity.html">NEWS</a>
            <a href="contact-us.html">CONTACT US</a>
            <div class="nav-dropdown" data-dropdown>
              <button class="nav-dropdown-btn" data-dropdown-button>
                <img src="assets/img/thai-lang-icon.png" alt="" /> TH
                <img src="assets/img/expand.svg" alt="" />
              </button>
               <div class="nav-dropdown-menu">
                <a href="#"><img src="assets/img/thai-lang-icon.png" id="thaiBtn2" alt="" /> TH</a>
                <a href="#"><img src="assets/img/UK.png" id="engBtn2" alt="" /> ENG</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <section class="header-sec">
        <div class="animation-wrapper">
          <div id="stars-group-1"></div>
          <div id="stars-group-2"></div>
          <div id="stars-group-3"></div>
          <div id="stars-group-4"></div>
          <div id="stars-group-5"></div>
          <div id="stars-group-6"></div>
        </div>
        <div class="gadget-menu">
          <a href=""
            ><img src="assets/img/gadget-icons/fb-icon.svg" alt=""
          /></a>
          <a href=""
            ><img src="assets/img/gadget-icons/yt-icon.svg" alt=""
          /></a>
          <a href=""
            ><img src="assets/img/gadget-icons/gadget-edm-icon.svg" alt=""
          /></a>
          <a href=""
            ><img src="assets/img/gadget-icons/joinus-icon.svg" alt=""
          /></a>
        </div>

        <img src="assets/img/edm-logo.png" alt="" />
        <p class="header-des">
          ผู้เชี่ยวชาญทางด้านการดูแลบริหารจัดการครีเอเตอร์
          ที่คอยสนับสนุนในทุกความฝันที่คุณอยากจะเป็น
          โดยมุ่งเน้นให้คุณเติบโตแบบก้าวกระโดดในทุกโซเชียลมีเดีย แพลตฟอร์ม
          ทั้งในด้านการขยายกลุ่มผู้ชมและการเพิ่มรายได้
        </p>
      </section>

      <section class="stats-sec">
        <div class="stats-numb">
          <div class="numbs-item">
            <p>100</p>
            <p>ครีเอเตอร์</p>
          </div>
          <div class="numbs-item">
            <p>80M</p>
            <p>ผู้ติดตาม</p>
          </div>
          <div class="numbs-item">
            <p>3,000M</p>
            <p>จำนวนผู้เข้าชม</p>
          </div>
          <div class="numbs-item">
            <p>8M</p>
            <p>ชั่วโมงการรับชม</p>
          </div>
        </div>

        <div class="stats-des">
          <p>
            ปลดล็อคขีดความสามารถให้ช่องของคุณก้าวไปสู่การเป็นครีเอเตอร์มืออาชีพ
            ด้วยสิทธิประโยชน์ต่างๆ ที่เราคัดสรรมา
            โดยคำนึกถึงความต้องการของคุณเป็นหลัก
          </p>
        </div>
      </section>

      <section class="benefit-sec">
        <div class="item">
          <div class="item-header">
            <div>
              <img src="assets/img/benefit-icons/rising.png" alt="" />
              <h1>Channel Growth</h1>
            </div>
            <p>
              ช่วยปรับแต่งช่องเพื่อรีดประสิทธิภาพสูงสุดทั้งด้านคนดูและรายได้
              วางแผนเนื้อหาเพื่อรักษาและขยายกลุ่มผู้ชม
              ใช้คลังเพลงระดับโลกถูกลิขสิทธิ์ฟรีจาก Epidemic Sound
              ช่วยออกแบบกราฟฟิกช่องไม่ว่าจะเป็นหน้าปกช่อง โลโก้ช่อง
            </p>
          </div>

          <ul class="item-list">
            <li>
              วางแผนเนื้อหา & ปรับแต่งช่อง ให้คำปรึกษาแนะนำและติดตามผล
              โดยผู้เชี่ยวชาญในด้านการ
              วางแผนเนื้อหาในช่องให้เหมาะสมกับกลุ่มผู้ชม
              เพื่อขยายฐานคนดูให้เพิ่มมากขึ้น
            </li>
            <li>
              คลังเพลง /เพิ่มความแตกต่างของเนื้อหาในช่อง ของคุณด้วย
              แพลตฟอร์มคลังเพลง ระดับโลกที่เหล่า ครีเอเตอร์ในวงการ ต่างยอมรับ
              Epidemic Sound หมดกังวลเรื่องเพลง ติดลิขสิทธิ์ใช้งานได้ฟรี
            </li>
            <li>
              ออกแบบกราฟฟิกช่อง / โชว์ความเป็นตัวตน ของคุณด้วยทีมกราฟฟิคมืออาชีพ
              เติมสีสันดึงดูด กลุ่มผู้ชม ให้ช่องมีความ น่าสนใจมากยิ่งขึ้น
              ดูดีมีระดับ เพิ่มความ น่าเชื่อในสายตาเหล่า นักการตลาด
            </li>
          </ul>
        </div>
        <div class="item">
          <div class="item-header">
            <div>
              <img src="assets/img/benefit-icons/dialogue.png" alt="" />
              <h1>Platform Monetization</h1>
            </div>
            <p>
              ให้คำปรึกษาปัญหาด้านลิขสิทธิ์
              เพื่อให้ช่องของคุณสร้างรายได้ได้เต็มที่ ช่วยนำผลงาน
              เพลงของคุณเผยแพร่บนแพลตฟอร์มเพลงชั้นนำ
              พร้อมทั้งปกป้องลิขสิทธิ์ผลงานเพลงของคุณ
            </p>
          </div>

          <ul class="item-list">
            <li>
              ปัญหาด้านลิขสิทธิ์ /ปกป้องการถูกละเมิด ลิขสิทธิ์จากเนื้อหา
              ในช่องจัดการปัญหา ด้านลิขสิทธิ์ ให้ความรู้ และคำแนะนำ
              ในการแก้ไขปัญหาที่เหมาะสม เพื่อให้ช่อง อยู่ในมาตรฐานของแพลตฟอร์ม
            </li>
            <li>
              ปัญหาทางเทคนิค / ติดต่อประสานงาน
              และเข้าช่วยเหลือเกี่ยวกับปัญหาด้านเทคนิคที่เกิดจาก
              แพลตฟอร์มโซเชียลมีเดียต่างๆ ด้วยความ รวดเร็ว
              รวมถึงการช่วยเหลือกรณี ช่องถูกโจรกรรม ให้กลับมาใช้งานได้ปกติ
            </li>
            <li>
              เผยแพร่ผลงานเพลง / เพิ่มประสิทธิภาพ
              ในการเข้าถึงผลงานเพลงให้มากขึ้น ผ่านการกระจาย
              บนแพลตฟอร์มเพลงชั้นนำกว่า 20 แพลตฟอร์ม พร้อมทั้งปกป้องลิขสิทธิ์
              ผลงานเพลงของคุณ
            </li>
          </ul>
        </div>
        <div class="item">
          <div class="item-header">
            <div>
              <img src="assets/img/benefit-icons/handshake.png" alt="" />
              <h1>Brand Sponsorships</h1>
            </div>
            <p>
              เพิ่มโอกาสในการทำงานร่วมงานกับแบรนด์สินค้าชั้นนำ
              นำเสนอให้ช่องของคุณเป็นที่รู้จักมากขึ้น
              ช่วยบริหารจัดการงานสปอนเซอร์เพื่อให้คุณมีเวลาสร้างสรรค์ผลงานที่มีคุณภาพ
            </p>
          </div>

          <ul class="item-list">
            <li>
              เพิ่มโอกาสในการทำงานร่วมงานกับแบรนด์ สินค้าชั้นนำ
              นำเสนอให้ช่องของคุณเป็นที่รู้จัก มากขึ้น ช่วยบริหารจัดการงาน
              สปอนเซอร์เพื่อให้คุณมีเวลาสร้างสรรค์ผลงานที่มีคุณภาพ
            </li>
            <li>
              บริหารจัดการงานแทนคุณ / เราคอยช่วยดูแล ประสานงาน
              กับลูกค้าแทนคุณโดยทีมงานมืออาชีพ
              เพื่อให้ครีเอเตอร์มีเวลาในการสร้างสรรค์ผลงานที่มีคุณภาพมากขึ้น
            </li>
            <li>
              นำสื่อไปแลกกับสินค้า / เรามีพาร์ทเนอร์ทางด้าน เกมและอุปกรณ์ต่างๆ
              ที่จะสามารถ ส่งสินค้า เพื่อให้ครีเอเตอร์ใช้งานแลกกับการ
              ใช้สื่อโปรโมทสินค้า
            </li>
          </ul>
        </div>
        <div class="item">
          <div class="item-header">
            <div>
              <img src="assets/img/benefit-icons/social-justice.png" alt="" />
              <h1>Support And Training</h1>
            </div>
            <p>
              มีผู้จัดการส่วนตัวคอยดูแล 24 ชม.
              ที่พร้อมให้คำปรึกษาและช่วยแก้ไขปัญหา มีคอร์สเสริมความรู้
              เพื่ออัพเดตให้คุณได้ก้าวทันโลก เรียนรู้เทคนิคใหม่ๆ
              ในการทำโซเชียลมีเดียให้เติบโตอย่างยั่งยืน
              ให้คำปรึกษาด้านภาษีแบบถูกต้องและได้ผลประโยชน์สูงสุด
            </p>
          </div>

          <ul class="item-list">
            <li>
              ผู้จัดการส่วนตัว 24 ชม. / ไม่ว่าคุณจะมีปัญหา อะไรในชีวิต
              ทีมของเราพร้อมให้คำปรึกษา และช่วยแก้ไขปัญหาให้คุณได้ทุกเรื่อง
            </li>
            <li>
              คอร์สพัฒนาทักษะ / การเสริมทักษะ อัพเดต
              ข่าวสารใหม่ให้ทันโลกเป็นสิ่งสำคัญมากในยุค ดิจิตอล
              คุณจะไม่พลาดเรื่องราวใหม่ๆ ที่เกิดขึ้น ในโลกออนไลน์
            </li>
            <li>
              ที่ปรึกษาด้านภาษี / ภาษีไม่ยุ่งยากอย่างที่คุณคิด
              ถ้าอยู่ในมือของผู้เชี่ยวชาญ เราดูแลในทุก
              ขั้นตอนเพื่อให้คุณหมดกังวลเรื่องภาษี
            </li>
          </ul>
        </div>
        <div class="item">
          <div class="item-header">
            <div>
              <img src="assets/img/benefit-icons/community.png" alt="" />
              <h1>Community</h1>
            </div>
            <p>
              เรามีเครือข่ายครีเอเตอร์ระดับแนวหน้ากว่า 1,000 ชีวิต
              ช่วยให้คุณได้รู้จักผู้คนใหม่ๆ มากยิ่งขึ้น
              ผ่านกิจกรรมที่จะสร้างความสนุกสนานตลอดทั้งปี รวมถึงการทำกิจกรรม
              เพื่อให้ครีเอเตอร์อย่างคุณได้ใกล้ชิดกับเหล่าแฟนคลับมากขึ้น
            </p>
          </div>

          <ul class="item-list">
            <li>
              ทำเนื้อหาร่วมกับครีเอเตอร์ /
              การได้ทำคอนเทนต์ร่วมกับช่องที่มีกลุ่มคนดูที่มีความสนใจ
              ใกล้เคียงกันจะช่วยให้ช่องได้เติบโตรวดเร็วมากขึ้น
              เราเป็นตัวกลางในการช่วย คุณติดต่อครีเอเตอร์ทั่วโลกได้
            </li>
            <li>
              กิจกรรมสนุกๆ / พบกิจกรรมสร้างความสัมพันธ์
              ระหว่างครีเอเตอร์ในสังกัดให้รู้จักกันมากยิ่งขึ้น
              รวมถึงกิจกรรมที่เปิดโอกาสให้ครีเอเตอร์ได้พบกับแฟนคลับของคุณเอง
            </li>
          </ul>
        </div>
        <div class="item">
          <div class="item-header">
            <div>
              <h1>Creator Business</h1>
            </div>
            <p>
              สร้างธุรกิจใหม่ให้คุณเป็นมากกว่าครีเอเตอร์
              เพื่อใช้ประสิทธิภาพจากสื่อโซเชียลมีเดียและกลุ่มผู้ติดตามให้เกิดประโยชน์สูงสุด
              โดยทีมงานผู้เชี่ยวชาญ ที่จะช่วยให้คำปรึกษา พร้อมลงมือทำไปด้วยกัน
              ตั้งแต่เริ่มต้นจนประสบความสำเร็จ
            </p>
          </div>
        </div>
      </section>

      <section class="joinus-sec">
        <span>
          เราคือผู้เชี่ยวชาญด้านการตลาด โดยใช้ อินฟลูเอนเซอร์ในประเทศไทยที่
          สามารถช่วยให้คุณประสบความสำเร็จ
        </span>
        <div class="morebtn">
          <a href="our-campaign.html">Join Us</a>
        </div>
      </section>

      <footer>
        <div class="footer-top">
          <div class="footer-logos">
            <img src="assets/img/edm_logo_com.svg" alt="" />
            <img src="assets/img/edm-logo.png" alt="" />
          </div>

          <form action="">
            <input type="search" placeholder="CATEGORIES" />
            <button type="submit">
              <img src="assets/img/icon_search.svg" alt="" />
            </button>
          </form>
        </div>
        <div class="footer-bot">
          <span
            >COPYRIGHT <span>&copy;</span> 2023 EDM HOLDING ALL RIGHTS RESERVED.</span
          >
           <a href="#" class="text-white">Terms of use I Privacy Policy I Contact us</a>
        </div>
      </footer>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="assets/js/navbar.js?v=6"></script>
  </body>
</html>
