<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EDM</title>

    <link rel="stylesheet" href="assets/fonts/fonts.css?v=3" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="assets/css/base-style.css?v=3" />
    <link rel="stylesheet" href="assets/css/index.css?v=3" />
    <link rel="stylesheet" href="assets/css/navbar_style.css?v=3" />
    <link rel="stylesheet" href="assets/css/particle-anim.css?v=3" />
    <link rel="stylesheet" href="assets/css/contact-us.css" />
  </head>
  <body>
    <div class="side-menu">
      <svg
        class="close-btn"
        id="close-sidenav-btn"
        xmlns="http://www.w3.org/2000/svg"
        height="48"
        width="48"
      >
        <path
          fill="#ffff"
          d="M12.45 38.7 9.3 35.55 20.85 24 9.3 12.5l3.15-3.2L24 20.8 35.55 9.3l3.15 3.2L27.2 24l11.5 11.55-3.15 3.15L24 27.2Z"
        />
      </svg>

      <div class="side-btn-section">
        <a href="" class="side-btn"
          ><img src="assets/img/edm-logo.png" alt=""
        /></a>
        <a href="index.html" class="side-btn">ABOUT US</a>
        <div class="side-collapse">
          <a
            href="#forCreator"
            class="side-btn"
            data-bs-toggle="collapse"
            role="button"
            aria-expanded="false"
            aria-controls="forCreator"
            >FOR CREATOR</a
          >
          <div class="collapse" id="forCreator">
            <div class="card card-body">
              <a href="benefit.html">Solutions</a
              ><a href="vtuber-community.html">VTuber</a>
              <a href="influencer.html">Creator</a>
            </div>
          </div>
        </div>
        <div class="side-collapse">
          <a
            href="#forBrand"
            class="side-btn"
            data-bs-toggle="collapse"
            role="button"
            aria-expanded="false"
            aria-controls="forBrand"
            >FOR BRAND</a
          >
          <div class="collapse" id="forBrand">
            <div class="card card-body">
              <a href="branding.html">Service</a>
              <a href="">Campaign</a>
            </div>
          </div>
        </div>
        <a href="news-activity.html" class="side-btn">NEWS</a>
        <a href="contact-us.html" class="side-btn">CONTACT US</a>
        <div class="lang-change-btns">
          <a href="" class="active"
            ><img src="assets/img/THAILAND.png" alt="" /> TH</a
          >
          <a href=""><img src="assets/img/UK.png" alt="" /> ENG</a>
        </div>
      </div>
    </div>

    <div class="main">
      <nav>
        <!-- Nav Hamberger menu -->
        <div class="nav-menu">
          <img src="assets/img/menu.svg" alt="" />
        </div>

        <div class="nav-btns">
          <a href=""><img src="assets/img/edm-logo.png" alt="" /></a>
          <div class="nav-btns-wrapper">
            <a href="index.html">ABOUT US</a>
            <div class="nav-dropdown" data-dropdown>
              <button class="nav-dropdown-btn" data-dropdown-button>
                FOR CREATOR
                <img src="assets/img/expand.svg" alt="" />
              </button>
              <div class="nav-dropdown-menu">
                <a href="benefit.html">Solutions</a
                ><a href="vtuber-community.html">VTuber</a>
                <a href="influencer.html">Creator</a>
              </div>
            </div>
            <div class="nav-dropdown" data-dropdown>
              <button class="nav-dropdown-btn" data-dropdown-button>
                FOR BRAND
                <img src="assets/img/expand.svg" alt="" />
              </button>
              <div class="nav-dropdown-menu">
                <a href="branding.html">Service</a>
                <a href="our-campaign.html">Campaign</a>
              </div>
            </div>
            <a href="news-activity.html">NEWS</a>
            <a href="contact-us.html">CONTACT US</a>
            <div class="nav-dropdown" data-dropdown>
              <button class="nav-dropdown-btn" data-dropdown-button>
                <img src="assets/img/thai-lang-icon.png" alt="" /> TH
                <img src="assets/img/expand.svg" alt="" />
              </button>
              <div class="nav-dropdown-menu">
                <a href=""
                  ><img src="assets/img/thai-lang-icon.png" alt="" /> TH</a
                >
                <a href=""><img src="assets/img/UK.png" alt="" /> ENG</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <section class="header-sec">
        <div class="animation-wrapper">
          <div id="stars-group-1"></div>
          <div id="stars-group-2"></div>
          <div id="stars-group-3"></div>
          <div id="stars-group-4"></div>
          <div id="stars-group-5"></div>
          <div id="stars-group-6"></div>
        </div>
        <div class="gadget-menu">
          <a href=""
            ><img src="assets/img/gadget-icons/fb-icon.svg" alt=""
          /></a>
          <a href=""
            ><img src="assets/img/gadget-icons/yt-icon.svg" alt=""
          /></a>
          <a href=""
            ><img src="assets/img/gadget-icons/gadget-edm-icon.svg" alt=""
          /></a>
          <a href=""
            ><img src="assets/img/gadget-icons/joinus-icon.svg" alt=""
          /></a>
        </div>

        <img src="assets/img/edm-logo.png" alt="" />
        <h1 class="header-title">
          เติมเต็มความฝัน <br />
          ให้คุณประสบความสำเร็จเร็วขึ้น
        </h1>
      </section>

      <section class="contact-us-sec">
        <h2>
          ทีมงานของเรายินดีให้ความช่วยเหลือและตอบทุกข้อสงสัยของคุณ<br />
          กรุณากรอกแบบฟอร์มและส่งหาเรา ทีมงานจะติดต่อกลับโดยเร็วที่สุด
        </h2>
        <div class="contact-form">
          <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
            >Creator</a
          >
          <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal2"
            >Branding</a
          >
        </div>
      </section>

      <section class="information">
        <h1>Contect Us</h1>
        <p>
          บริษัท อีเทอร์นิตี้ ดรีม มีเดีย จํากัด (สำนักงานใหญ่)<br />
          250/48 ซอยรามคําแหง 112 ถนนรามคําแหง แขวงสะพานสูงเขตสะพานสูง<br />
          กรุงเทพมหานคร 10240
        </p>
        <p>
          เบอร์ติดต่อ 02-077-6029<br />
          (วัน-เวลาทำการ จันทร์ ถึง ศุกร์ 10.00-19.00 น.)<br />
          อีเมล์ : info@edmcompany.co.th
        </p>
      </section>

      <footer>
        <div class="footer-top">
          <div class="footer-logos">
            <img src="assets/img/edm_logo_com.svg" alt="" />
            <img src="assets/img/edm-logo.png" alt="" />
          </div>

          <form action="">
            <input type="search" placeholder="CATEGORIES" />
            <button type="submit">
              <img src="assets/img/icon_search.svg" alt="" />
            </button>
          </form>
        </div>
        <div class="footer-bot">
          <span
            >COPYRIGHT <span>&copy;</span> 2023 EDM COMPANY. ALL RIGHTS
            RESERVED.</span
          >
          <a href="">Terms of use I Privacy Policy</a>
        </div>
      </footer>
    </div>
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body" style="color: #000000">
            <h1>Creator</h1>
            <form action="" style="display: block">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">ชื่อ / Name</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">ชื่อบริษัท / Company Name </label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-md-12 mt-2">
                  <div class="form-group">
                    <label for="">ข้อความ / Message </label>
                    <textarea
                      name=""
                      class="form-control"
                      id=""
                      cols="30"
                      rows="4"
                    ></textarea>
                  </div>
                </div>
                <div class="col-md-12 mt-2">
                  <div class="form-group">
                    <label for=""
                      >คุณรู้จักเราจากช่องทางไหน / How did you discover
                      us?</label
                    >
                    <br />
                    <input type="checkbox" /> เครื่องมือค้นหา (เช่น Google)
                    <br />
                    <input type="checkbox" /> สื่อโซเชียลมีเดีย (เช่น Facebook,
                    Youtube, Instragram) <br />
                    <input type="checkbox" /> มีผู้แนะนำมา (เช่น เพื่อน,
                    คนรู้จัก) <br />
                    <input type="checkbox" /> สื่อโฆษณาต่างๆ <br />
                    <input type="checkbox" /> อื่นๆ <br />
                  </div>
                </div>
                <div class="col-md-12 mt-2">
                  <div class="form-group">
                    <label for="">โปรดระบุ</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-md-12 mt-2">
                  <input type="checkbox" /> ฉันยอมรับข้อตกลง
                  <a href="">และนโยบายความเป็นตัว ...</a>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="exampleModal2"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body" style="color: #000000">
            <h1>Branding</h1>
            <form action="" style="display: block">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="">ชื่อ / Name</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">ชื่อบริษัท / Company Name </label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">อีเมล์ / E-Mail</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-md-12 mt-2">
                  <div class="form-group">
                    <label for=""
                      >ระบุเป้าหมายในการทำการตลาด รายละเอียดสินค้า งบประมาณ /
                      Please describe your goals and estimated budget
                    </label>
                    <textarea
                      name=""
                      class="form-control"
                      id=""
                      cols="30"
                      rows="4"
                    ></textarea>
                  </div>
                </div>
                <div class="col-md-12 mt-2">
                  <div class="form-group">
                    <label for=""
                      >คุณรู้จักเราจากช่องทางไหน / How did you discover
                      us?</label
                    >
                    <br />
                    <input type="checkbox" /> เครื่องมือค้นหา (เช่น Google)
                    <br />
                    <input type="checkbox" /> สื่อโซเชียลมีเดีย (เช่น Facebook,
                    Youtube, Instragram) <br />
                    <input type="checkbox" /> มีผู้แนะนำมา (เช่น เพื่อน,
                    คนรู้จัก) <br />
                    <input type="checkbox" /> สื่อโฆษณาต่างๆ <br />
                    <input type="checkbox" /> อื่นๆ <br />
                  </div>
                </div>
                <div class="col-md-12 mt-2">
                  <div class="form-group">
                    <label for="">โปรดระบุ</label>
                    <input type="text" class="form-control" />
                  </div>
                </div>
                <div class="col-md-12 mt-2">
                  <input type="checkbox" /> ฉันยอมรับข้อตกลง
                  <a href="">และนโยบายความเป็นตัว ...</a>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="assets/js/navbar.js"></script>
  </body>
</html>
